body {
  color: gold
}
table {
  border: 10px inset Khaki;
  background-color: chocolate;
}

th {
  width: 500px;
  font-size: 20pt;
  font-weight: bold;
  border-bottom: 1px solid gold;
}

td {
  font-size: 14pt;
  font-weight: 600;
  text-align: center;
}

span.fruta {
  font-size: 32pt;
  font-family: Arial;
  color: gold;
  font-weight: bold;
}