.header {
    font-family: monospace;
    background: #0B6D1E;
    padding: 8px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.logo {
    font-size: 48px;
    font-weight: 900;
    color: thistle;
    background: white;
    padding: 4px 32px;
}
ul {
    list-style-type: none;
    gap: 8px;
}
li {
    display: inline-block;
}
a {
    font-size: 22px;
    background: white;
    padding: 8px;
    text-decoration: none;
}

.left-links ul, .right-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
