a.login {
    background-color: #2979FF;
}
a.register {
    color: #000000;
}
a.moodle {
    font-family: 'Comic Sans MS';
    margin-right: 0.3em;
    vertical-align: middle;
    padding-right: 40px;
}
span.button {
    margin: 5px;
    padding-right: 5px;
    font-size: 30px;
    border-right: solid 4px rgb(255, 255, 255, 0.5);
}